@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daniel Rud Callesen - Resume</title>
</head>
<body>

    <section class="hidden">
        <div id="visit-count" style="text-align: center;">

        </div>
    </section>
    <section class="hidden">
        <div class="ResumeHeader">
            <div class="header-right">
                <img src="/images/Me.jpg" alt="Portrait" />
            </div>
            <div class="header-left">
                <h1>Daniel Rud Callesen</h1>
                <p>Graduated Computer Science</p>
                <div class="contact-info">
                    <a href="mailto:Danielrudcallesen96@gmail.com">Danielrudcallesen96@gmail.com</a> |
                    <a href="https://www.linkedin.com/in/danielcallesen/" target="_blank">LinkedIn</a> |
                    <a href="https://github.com/Gamalina" target="_blank">GitHub</a> |
                    <span>+45 24761197</span>
                </div>
            </div>
        </div>
    </section>
    <section class="hidden">
        <h2>Graduated Computer Science</h2>
    </section>
    <section class="hidden">
        <h1>Practical Experience</h1>
    </section>

    

    <script>
        async function incrementVisitCount() {
            const response = await fetch('https://viewcountfunction.azurewebsites.net/api/HttpTrigger1?');
            const data = await response.text();
            console.log(data);
            // Optionally, you can display the visit count on your website
            document.getElementById('visit-count').innerText = data;
        }

        // Call the function when the page loads
        window.onload = incrementVisitCount;

        function confirmCertificationLink() {
            return confirm("You are leaving the site. Are you sure you want to view my certifications?");
        }

        function confirmCloudLink() {
            return confirm("You are leaving the site. Are you sure you want to view Cloud Resume Challenge?");
        }
    </script>
    
    <script src="~/js/site.js"></script>
</body>
</html>

