.containerCV {
    width: 80%;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.ResumeHeader {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

    .ResumeHeader h1 {
        margin: 0;
        font-size: 2em;
    }

    .ResumeHeader p {
        margin: 5px 0;
        font-style: italic;
    }

    .ResumeHeader a {
        color: #fff;
    }

    .ResumeHeader .header-right img {
        border-radius: 50%;
        max-width: 120px;
        height: auto;
    }

.contact-info {
    margin-top: 10px;
    font-size: 0.9em;
}

    .contact-info a {
        color: #0066cc;
        text-decoration: none;
        margin: 0 5px;
    }

    .contact-info span {
        display: inline-block;
        margin-left: 10px;
    }

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.sectionCV {
    margin-bottom: 20px;
    max-width:400px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.ulCV {
    list-style-type: none;
    padding-left: 0;
}

    .ulCV li::before {
        content: "• ";
        color: #0066cc;
        font-weight: bold;
    }

.job, .education {
    margin-bottom: 20px;
}

h3 {
    margin: 0;
    font-size: 1.2em;
}

p {
    margin: 5px 0;
    font-size: 0.9em;
}


@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }
}

.left-column, .right-column {
    padding: 10px;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(50% - 40px); /* Adjust based on your margin */
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0; /* Light grey background */
    border-radius: 15px; /* Rounded borders */
    text-decoration: none; /* Remove underline from links */
    color: black; /* Text color */
}

    .box:hover {
        background-color: #e0e0e0; /* Slightly darker on hover */
    }

    .box h3 {
        margin: 10px 0;
    }

    .box p {
        text-align: center;
    }

.content-wrapper {
    display: flex;
    justify-content: space-between;
}

.left-side, .right-side {
    width: 48%;
}

/* Additional styling for alignment and responsiveness */
@media (max-width: 768px) {
    .content-wrapper {
        flex-direction: column;
    }

    .left-side, .right-side {
        width: 100%;
    }
}
