body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.ResumeHeader {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    
}

    .ResumeHeader h1 {
        margin: 0;
        font-size: 2em;
    }

    .ResumeHeader p {
        margin: 5px 0;
        font-style: italic;
    }
    .ResumeHeader a {
        color: #fff;
    }

    .ResumeHeader .header-right img {
        border-radius: 50%;
        max-width: 120px;
        height: auto;
    }
.contact-info {
    margin-top: 10px;
    font-size: 0.9em;
}

    .contact-info a {
        color: #0066cc;
        text-decoration: none;
        margin: 0 5px;
    }

    .contact-info span {
        display: inline-block;
        margin-left: 10px;
    }

.main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

section {
    margin-bottom: 20px;
}

h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    color: #0066cc;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

    ul li::before {
        content: "• ";
        color: #0066cc;
        font-weight: bold;
    }

.job, .education {
    margin-bottom: 20px;
}

h3 {
    margin: 0;
    font-size: 1.2em;
}

p {
    margin: 5px 0;
    font-size: 0.9em;
}


@media (max-width: 768px) {
    .main-content {
        flex-direction: column;
    }
}

.left-column, .right-column {
    padding: 10px;
}
